@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    background-size: 100%;
    height: 100vh;
    align-items: center;
}

.container{
    width: 390px;
    margin: auto;
    
}

img{
    max-width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.card{
    height: 600px;
    border-radius: 15px;
    background-color: #FFF;
}

.card h2{
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
    color: hsl(223, 47%, 23%);
}

.card p{
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    text-align: center;
    margin: 20px 40px 20px 20px;
}

.plano{
    display: flex;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    margin: 30px;
    border-radius: 7px;
    height: 80px;
    justify-content: center;
    font-weight: 900;
}

.plano img{
    width: 59px;
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 2px;
}

.plano .price{
    margin-right: 20px;
    padding-left: 5px;
    font-weight: 500;
    font-size: 1rem;
}

.price p{
    margin: 0;
}

.plano #troca{
    padding-left: 70px;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 0.85rem;
    color: hsl(245, 75%, 52%);
    transition: 0.5s ease-in-out;
}

#troca:hover{
    color: rgb(82, 118, 219);
    cursor: pointer;  
}


button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    transition: 0.5s ease-in-out;
}

button:hover{
    color: #000;
    cursor: pointer;
}

.footer #btn{
    border: none;
    margin-bottom: 23px;
    width: 320px;
    height: 40px;
    text-align: center;
    background-color: hsl(245, 75%, 52%);
    color: #FFF;
    font-weight: 700;
    border-radius: 7px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.37);
    transition: 0.5s ease-in-out;
}

#btn:hover{
    background-color: rgb(82, 118, 219);
    cursor: pointer;
}
